<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OSM Solar Tagger</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-plugins/3.3.2/layer/tile/Bing.min.js" integrity="sha512-TF1K4/mJgoNCE3mq7fDEDLuckI5ZNIO3fm3TNZHiXK8/Xxues2azPhIO11IgpH6hMIddlasAca35H7HoVe1vdg==" crossorigin="anonymous"></script>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
