{% extends "_base.html" %}
{% block content -%}
  <header>
    <h1>OSM Solar Tagger</h1>
    {% if user %}
      <p>Logged in as <a href="https://openstreetmap.org/user/{{user['display_name']}}">{{user['display_name']}}</a>.
          <a href="/logout">Log out</a></p>
    {% endif %}
  </header>
  <div id="content">
    {% if user %}
      {% include "app.html" %}
    {% else %}
      <p>This app provides an easy way to improve the data on solar installations on OpenStreetMap.</p>

      <p>Currently we're collecting data on the number of <em>modules</em> in solar installations in the UK.
          A module is a single solar panel, and they're commonly grouped together in an installation (or
          <em>generator</em> in OSM terminology).</p>

      <p>Here's an example of a generator which has 14 modules:</p>

      <img src="/static/example-1.png" width="400px">

      <p class="emphasis">To get started, you'll need to <a href="{{url_for('login')}}">log in with your OpenStreetMap account</a>.</p>
    {% endif %}
  </div>
  <footer>
    &copy; <a href="https://russ.garrett.co.uk">Russ Garrett</a> 2020. {% if user %}<a href="mailto:russ@garrett.co.uk">Feedback</a>{% endif %}
  </footer>
{% endblock %}
